
<!DOCTYPE html>
<html>
  <head>
    <style></style>
  </head>
  <body>
    <div>
      <img src="cid:logo_cut" alt="Annedora" style="max-width: 800px" />
      <h2>Order Confirmation</h2>
      <p>Dear {{ user.first_name }},</p>
      <p>Thank you for your order!</p>
      <p>Your order details are as follows:</p>
      <p>Order ID: {{ order.order_id }}</p>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for item in order_items %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.qty }}</td>
            <td>${{ item.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <table>
        <tr>
          <td>Subtotal:</td>
          <td>{{ order.itemsPrice }}$</td>
        </tr>
        <tr>
          <td>Shipping:</td>
          <td>{{ order.shippingPrice }}$</td>
        </tr>
        <tr>
          <td>Tax:</td>
          <td>{{ order.taxPrice }}$</td>
        </tr>
        <tr>
          <td>Total:</td>
          <td>{{ order.totalPrice }}$</td>
        </tr>
      </table>
    </div>
  </body>
</html>
